.product_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product_card{
    margin-right: 25px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px lightcyan solid;
    box-shadow: 3px 5px lightcyan;
}

img{
    height: 200px;
    width: 150px;
    object-fit: contain;
}

.tap_btn{
    text-align: center;
    height: 30px;
    width: 70px;
    color: white;
    background-color: red;
    border: 5px solid black;
    overflow-x: visible;    
    white-space: normal;
    word-wrap: break-word;
}
